img {
width: 364px;
    height: 364px;
}
body {
    background-color: #FFF;
}

.text {
    font-family: Futura,"Trebuchet MS", Arial, sans-serif; 
    padding: 0px;
    transform: translateY(-200px);
    margin: 0 auto;
    text-align: center;
    position: relative;
}

h1.color {
    color: #000000;
}

h2.color {
    background: #005C97;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.yay1 {
    padding: 0px;
    position: relative;
    display: flex; 
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    transform: translateX(220px) translateY(50px);
    
  
}
.yay2 {
    padding: 0px;
    position: relative;
    display: flex; 
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    transform: translateX(-220px) translateY(-442px) scaleX(-1);
    
}

