img {
    width: 32.25%;
    height: 32.25%;
}
body {
    background-color: #FFF;
}

.text {
    font-family: Futura,"Trebuchet MS", Arial, sans-serif; 
    padding: 0px;
    transform: translateY(-200px);
    margin: 0 auto;
    text-align: center;
    position: relative;
}

h1.color {
    color: #000000;
}

h2.color {
    background: #333399;  
background: -webkit-linear-gradient(to right, #333399, #ff00cc); 
background: linear-gradient(to right, #333399, #ff00cc); 

}

.yay1 {
    padding: 0px;
    position: relative;
    display: flex; 
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    transform: translateX(220px) translateY(50px);
    
  
}
.yay2 {
    padding: 0px;
    position: relative;
    display: flex; 
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    transform: translateX(-220px) translateY(-442px) scaleX(-1);
    
}

